<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="started.css">
</head>
<body>
    <div class="started">
        <div class="circle-shadow  circle1"></div>
        <div class="circle-shadow  circle2"></div>
        <div class="circle-overlay">
            <img src="" alt="Overlay Image" class="overlay-image">
        </div>
        
        <div>New</div>
</body>
</html>